/deeplearning/translation/checkpoints/
/deeplearning/translation/checkpoints_v2/
/deeplearning/translation/paper/test_wav/
/deeplearning/translation/MeloTTS/
/deeplearning/translation/OpenVoice/
/deeplearning/translation/paper/test_merge/
/deeplearning/translation/paulgraham/wav_files/
/deeplearning/videoedit/opencv/
/deeplearning/videoedit/vosk-api/
/deeplearning/videoedit/voskmodels/
/deeplearning/videoedit/videos/
/deeplearning/videoedit/input.json
/deeplearning/videoedit/input.mp3
/deeplearning/videoedit/input.srt
/deeplearning/videoedit/input.tsv
/deeplearning/videoedit/input.txt
/deeplearning/videoedit/input.vtt
/deeplearning/videoedit/input.wav
/deeplearning/videoedit/PaddleSpeech/
/deeplearning/doc_ocr/tesseract/
/deeplearning/doc_ocr/tessdata_downloader/
/deeplearning/doc_ocr/pytesseract/
/deeplearning/object_detection/detr/
/deeplearning/object_detection/detectron2/
/deeplearning/object_detection/cocoapi/
