/deeplearning/translation/checkpoints/
/deeplearning/translation/checkpoints_v2/
/deeplearning/translation/paper/test_wav/
/deeplearning/translation/MeloTTS/
/deeplearning/translation/OpenVoice/
/deeplearning/translation/paper/test_merge/
/deeplearning/translation/paulgraham/wav_files/
/deeplearning/videoedit/opencv/
/deeplearning/videoedit/vosk-api/
/deeplearning/videoedit/voskmodels/
/deeplearning/videoedit/videos/
/deeplearning/videoedit/input.json
/deeplearning/videoedit/input.mp3
/deeplearning/videoedit/input.srt
/deeplearning/videoedit/input.tsv
/deeplearning/videoedit/input.txt
/deeplearning/videoedit/input.vtt
/deeplearning/videoedit/input.wav
/deeplearning/videoedit/PaddleSpeech/
/deeplearning/doc_ocr/tesseract/
/deeplearning/doc_ocr/tessdata_downloader/
/deeplearning/doc_ocr/pytesseract/
/deeplearning/object_detection/detr/
/deeplearning/detr_face/trained_weights/
/deeplearning/object_detection/detectron2/
/deeplearning/object_detection/cocoapi/
/deeplearning/annotedgui/pyside/
/deeplearning/stablediffusion/generative-models/
/deeplearning/vit/rtdetr_r50vd/
/deeplearning/vit/zoo/
/deeplearning/vit/videos/
/deeplearning/vit/videos/
/deeplearning/vae/MNIST_DATA/
/deeplearning/contra_learning/simclr/
/deeplearning/contra_learning/SimCLR_Spijkervet/
/deeplearning/contra_learning/trackinglab/
/deeplearning/contra_learning/ultralytics/
/deeplearning/contra_learning/botsort/
/deeplearning/contra_learning/bytetrack/
/deeplearning/contra_learning/fastreid/
/deeplearning/contra_learning/deepsort/
/deeplearning/SAM/sam2/
/deeplearning/contra_learning/test_videos/
/deeplearning/contra_learning/ultralytics_models/
/deeplearning/contra_learning/zoo/
/deeplearning/contra_learning/log/
/deeplearning/contra_learning/mmpose/
/deeplearning/contra_learning/mmcv/
/deeplearning/sapiens/sapiens/
/deeplearning/contra_learning/RoPAR/
/deeplearning/papers/bf/
