/deeplearning/translation/checkpoints/
/deeplearning/translation/checkpoints_v2/
/deeplearning/translation/paper/test_wav/
/deeplearning/translation/MeloTTS/
/deeplearning/translation/OpenVoice/
/deeplearning/translation/paper/test_merge/
/deeplearning/translation/paulgraham/wav_files/
/deeplearning/videoedit/opencv/
/deeplearning/videoedit/vosk-api/
/deeplearning/videoedit/voskmodels/
/deeplearning/videoedit/videos/
